@mixin gridhome {
    display: grid;
    grid-template-columns: (repeat(4, 1fr));
    grid-template-rows: repeat(3, 1fr) 2000px 1fr 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}
@mixin group__links {
    display: grid;

    /*

    grid-template-areas;
    '1 2'
    '3 4'
    '5 6';

    */

    grid-template-columns: repeat(2, 150px);
}

@mixin awards__grid {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}