$primarycolor: #272727;
$accentcolor: #ff652f;
$textcolor: #111111;
$mywidth: 1100px;

/*size*/

$fs-mega: 40px;
$fs-big: 28px;
$fs-med: 22px;
$fs-small: 18px;
$fs-tiny: 16px;

/*weight*/

$fw-norm: 400;
$fw-bold: 700;

/*style*/

$fstyle-norm: normal;
$fstyle-italic: italic;

/* family*/

$ff: 'Mulish', sans-serif;

/*text color*/

$textc-blk: #111111;
$textc-blue: #4A4FF2;

/*opacity*/

$opacity: 60%;

/*width*/

$mywidth: 59%;